.cart-prod-img img{
    max-height: 150px;
    width: auto;
}
.cart-list a{
color: black;
text-decoration: none;
}
.form-control-cart {
    border: 1px solid rgb(145, 145, 145) !important;
    border-radius: 0px !important;
    overflow-y: hidden;
    width: 40px;
}
.form-control2-cart:focus {
    border:3px solid rgb(227, 108, 225) !important;
    box-shadow: 0px !important;
    /* border-color: transparent !important; */
    outline: none !important;
    box-shadow: none !important; 
  }
  .cart-list-ul {
    list-style-type: none
  }
  .product-count {
    font-size: 15px;
  }
  .total-price {
    font-size: 20px;
    font-weight: bold;
  }
