<div class="container-fluid">
    <div class="row">
        <div class="col-12" id="heroimgabout">

            <div class="container aboutblacktext">
                <div class="col-md-12 text-center mt-5 align-middle pe-5">
                    <h1>Give with meaning</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <h2>FTD.com affiliate program</h2>
                    <p>Advertise FTD.com on zour site and get 5% on your users purchases.</p>
                </div>
            </div>
            <div id="aboutblack"></div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 col-md-12">
            <h1 class="text-center">Advertise</h1>
            <div class="about-column">
                <p class="text-dark text-center">Advertise FTD on your website</p>
                <hr>
                <p class="text-dark text-center">Why Partner with FM?
                    After 100 years in business, we know a thing or two about flowers! In fact, we invented the world's
                    first floral network and are one of America's most recognizable brands. Our century of success is
                    built on industry leading standards for floral quality, artistry, and reliability. Join the FTD
                    affiliate program and start generating revenue for your site.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <h1 class="text-center">Convert</h1>
            <div class="about-column">
                <p class="text-dark text-center">Upon ad selection users are taken to product </p>
                <hr>
                <p class="text-dark text-center">What can you expect? </p>
                
                    <ul>
                        <li>Full time dedicated and experienced Affiliate Manager</li>
                        <li>Competitive commission and attractive conversion rate</li>
                        <li>Daily reporting through CJ Affiliate</li>
                        <li>Affiliation with the oldest and most recognized floral organization and Brand in the world</li>
                        <li>Industry leading, best in class affiliate exclusive discounts</li>
                        <li>We deliver to almost 100% of the US residents and to major Canadian Metropolitan areas</li>
                        <li>A customizable mobile site with technology that works on hundreds of devices</li>
                        <li>Product feed available</li>
                        <li>Same day delivery available .</li>
                    </ul>
                
               


            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <h1 class="text-center">Earn</h1>
            <div class="about-column">
                <p class="text-dark text-center">Earn 5% commission across all products & categories.</p>
                <hr>
                <p class="text-center">How do I join?</p>
                <p class="text-dark text-center"> 
                    Join now through 0 Affiliate. If you have questions about becoming an affiliate of FTD, please contact us at:FTD-Affiliate@ftdi.com 
                </p>
            </div>
        </div>
    </div>
</div>