<div class="container">
    <div class="div">
        <div class="col-md-8 offset-md-2 pt-5">
            <form id="checkoutForm" name="checkoutForm" [formGroup]="checkoutForm" (ngSubmit)="onSubmit();clearCart()">

                <!--Grid row-->
                <div class="row">
                    <!-- <div class="col-md-12">
                       
                        {{cart.items.length}}
                        
                    </div> -->

                    <!--Grid column-->
                    <div class="col-md-12 mt-3">
                        <div class="form-floating">
                            <input type="text" id="name" name="name" class="form-control" placeholder="First Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                            <label for="name">First Name
                                <span style="color: red;">*</span>
                            </label>
                            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                <div *ngIf="f['name'].errors['required']">
                                  Name is required
                                </div>
                              </div>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-12 mt-3">
                        <div class="form-floating">
                            <input type="text" id="surname" name="surname" class="form-control" placeholder="Last Name" formControlName="surname" [ngClass]="{ 'is-invalid': submitted && f['surname'].errors }">
                            <label for="surname">Last Name
                                <span style="color: red;">*</span>
                            </label>
                            <div *ngIf="submitted && f['surname'].errors" class="invalid-feedback">
                                <div *ngIf="f['surname'].errors['required']">
                                 Last Name is required
                                </div>
                              </div>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-12 mt-3">
                        <div class="form-floating">
                            <input type="email" id="email" name="email" class="form-control" placeholder="e-mail" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" >
                            <label for="email">e-mail
                                <span style="color: red;">*</span>
                            </label>
                            <div *ngIf="submitted && f['email'].errors"  class="invalid-feedback">
                                <div *ngIf="f['email'].errors['required']">
                                    Email is required
                                  </div>
                                  <div *ngIf="f['email'].errors['email']">
                                    Email is not valid
                                  </div>
                              </div>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-12 mt-3">
                        <div class="form-floating">
                            <input type="number" id="phone" name="phone" class="form-control" placeholder="Phone Number" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }"
                            minlength="10">
                            <label for="phone">Phone Number
                                <span style="color: red;">*</span>
                            </label>
                            <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                                <div *ngIf="f['phone'].errors['required']">
                                      Phone is required
                                </div>
                                    
                                </div>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid row-->

                    <div class="col-md-12 mt-3">
                        <div class="form-floating">
                            <input type="text" id="address" name="address" class="form-control" placeholder="Address" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f['address'].errors }">
                            <label for="address">Address
                                <span style="color: red;">*</span>
                            </label>
                            <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                                <div *ngIf="f['address'].errors['required']">
                                 Address is required
                                </div>
                              </div>
                        </div>
                    </div>

                    <!--Grid row-->


                </div>
                <!--Grid row-->



                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12 mt-3">

                        <div class="form-floating">
                            <input type="text" id="message" name="message" class="form-control"
                                placeholder="Your Message" style="height: 100px"
                                formControlName="message" [ngClass]="{ 'is-invalid': submitted && f['message'].errors }">
                            <label for="message">Your Message
                                <span style="color: red;">*</span>
                            </label>
                            <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                                <div *ngIf="f['message'].errors['required']">
                                    Message is required
                                </div>
                              </div>
                        </div>

                    </div>
                </div>
                <!--Grid row-->


                <div class="row">
                    <div class="col-md-12 mt-3">
                        <label for="payment">Payment Method:
                            <span style="color: red;">*</span>
                        </label>
                        <div class="form-floating">

                            <select id="payment" name="payment" form="payment" formControlName="payment" [ngClass]="{ 'is-invalid': submitted && f['payment'].errors }">
                                <option value="card">Credit Card</option>
                                <option value="paypal">Paypal</option>
                                <option value="delivery">Payment on Delivery</option>
                            </select>
                            <div *ngIf="submitted && f['payment'].errors" class="invalid-feedback">
                                <div *ngIf="f['payment'].errors['required']">
                                    Payment is required
                                </div>
                              </div>

                        </div>
                    </div>
                </div>


                <div class="text-center text-md-left mt-4 mb-5">
                    <button id="checkoutbutton" class="btn btn-outline-secondary" >Send</button>
                </div>

                <!-- <div class="text-center text-md-left mt-4 mb-5">
                    <a class="btn btn-outline-secondary" (click)="clearCart()"  routerLink="/thank-you">Send</a>
                </div> -->

                
                  

            </form>
        </div>
    </div>
</div>