<div class="container" id="loginbg">
  <div class="row">
    <div class="col-md-6 offset-3">
      <div class="displayTable" id="table-login">
        <div class="displayTableCell">
          <div class="authBlock text-center">
            <h3>Reset Password</h3>
            <p class="text-center">Please enter your email address to request a password reset.</p>

            <div class="form-floating mb-1 mt-5">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                #passwordResetEmail required>
              <label for="floatingInput">Email address</label>
            </div>

            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="formGroup">
              <input type="submit" class="btn btn-dark mt-2 w-100" value="Reset Password"
                (click)="authService.ForgotPassword(passwordResetEmail.value)">
            </div>

          </div>
          <div class="redirectToLogin mt-4">
            <span>Or go back to <a class="redirect" routerLink="/sign-in">Log In</a></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>