<div class="container">
    <div class="row">
        <app-tags></app-tags>
       
    </div>
   
    <div class="row">
        <!-- <ul>
            <li *ngFor="let product of products">
                <img src="{{product}}" alt="">
            </li>
        </ul> -->
 <div class="col-md-12 text-center pt-3 pb-3">
            <!-- <app-search></app-search> -->
        </div>
      
        <div class="col-lg-4 col-md-6 col-sm-12 text-center mt-5" *ngFor="let product of products">
           <a routerLink="/product/{{product.id}}" class="prod-imgs">
                <img src="{{product.imageUrl}}" alt="" class="img-fluid mb-2">
                <p class='text-center fs-4 mt-1'>{{product.name}}</p><p class='text-center fs-4'>${{product.price}}</p>
            
            </a>
        </div>
    </div>
</div>
